<div class="jumbotron">
  <h1>Damage Per Round</h1>
  <p class="lead">
    A simple dpr calculator for D20 based systems.
  </p>
</div>

<div class="row marketing">
  <h2>Values</h2>

  <h4>Global Values</h4>
  <hr/>
  <div>
    <label for="difficulty">Difficulty: </label> <input type="number" class="short-num" ng-model="difficulty" id="difficulty" required />
  </div>
  <br/><br/>
  <h4>Dynamic Values & Calculation </h4>
  <hr/>
  <div ng-repeat="(key, dprset) in dprsets">
    <input type="checkbox" ng-model="dprset.count"/>
    <label>Attack: </label> +<input type="number" class="short-num" ng-model="dprset.attack" required >

    <label>Damage: </label>
    <input type="number" class="short-num" min="1" ng-model="dprset.damageDiceCount" required /> D

    <select ng-model="dprset.damageDiceSides">
      <option ng-repeat="dice in damageDiceSideOptions">{{dice}}</option>
    </select>
    + <input type="number" class="short-num" ng-model="dprset.damageDiceBonus" required /> =
    <span>
      {{ calculateDpr(dprset) }}
    </span>
    <span class="calculation-details">
      ( {{ dprset.damageDiceCount * (dprset.damageDiceSides / 2) + dprset.damageDiceBonus }} * {{ calculateMultiplicator(dprset.attack) }} )
    </span>
    <button ng-click="removeDprset(key)">-</button>
  </div>
  <button ng-click="dprsets.push(createdprset())">+</button>
  <hr/>
  <span>
    Total DPR of checked items: {{calculateTotalDpr()}}
  </span>

</div>
