<div class="jumbotron">
  <h1>Damage Per Round</h1>
  <p class="lead">
    A simple dpr calculator for D20 based systems.
  </p>
</div>

<div class="row marketing">

  <h4>Global Values</h4>
  <hr/>
  <div>
    <label for="difficulty">Difficulty: </label> <input type="number" class="short-num" ng-model="difficulty" id="difficulty" required />
  </div>
  <br/><br/>


  <h4>Dynamic Values & Calculation for set '<span>{{currentset}}</span>'</h4>
  <hr/>
  <div ng-repeat="(key, dprset) in dprrows" class="calculation-row">
    <input type="checkbox" ng-model="dprset.count" title="Count this item for the total DPR"/>
    <label> Attack: </label> <input type="number" class="short-num" ng-model="dprset.attack" required >

    <label>Damage: </label>
    <input type="number" class="short-num" min="1" ng-model="dprset.damageDiceCount" required /> D

    <select ng-model="dprset.damageDiceSides">
      <option ng-repeat="dice in damageDiceSideOptions">{{dice}}</option>
    </select>
    + <input type="number" class="short-num" ng-model="dprset.damageDiceBonus" required /> =
    <span>
      {{ round(calculateDpr(dprset)) }}
    </span>
    <span class="calculation-details">
      ( {{ calculateDamage(dprset) | number }} * {{ calculateMultiplicator(dprset.attack) | number }} )
    </span>
    <button ng-click="removeDprrow(key)" title="Remove this row">-</button>
  </div>
  <br/>
  <button ng-click="dprrows.push(createdprrow())" title="Add another row">+</button>
  <hr/>
  <span>
    <strong>Total DPR of checked items: {{calculateTotalDpr() | number }}</strong>
  </span>
  <hr/>

  <br/><br/>

  <h4>Loading and saving</h4>
  <p class="smalltext">(in your browser!)</p>
  <hr/>
  <input type="text" placeholder="name your dpr set" ng-model="dprsetName"/> <button ng-click="renameDprset()">Rename Set</button> <span class="horizontal-spacer"></span>
  <button ng-click="createNewSet()">Create new Set</button> <span class="horizontal-spacer"></span>
  <button ng-click="deleteCurrentSet()">Delete current Set</button> <span class="horizontal-spacer"></span>

  <br/><br/>
  <select ng-model="loadDprsetKey">
    <option value="" disabled>choose a set to load</option>
    <option ng-repeat="(key,set) in getSavedSets()" value="{{key}}">{{set.name}}</option>
  </select>
  <button ng-click="loadDprset()">Load</button> <span class="horizontal-spacer"></span> <button ng-click="reset()">Reset Everything</button>
  <br/>
  <br/>
  <h4>Save the text below to be able to load your values later</h4>
  <hr/>
  <textarea cols="30" rows="10" class="fullwidth" readonly>{{dprsets|json}}</textarea>
  <br/>
  <br/>
  <hr/>
  <button ng-click="deserialize()">Load from saved Text</button>
</div>
